/* Custom CSS per L.A.B. Laboratorio Analisi Brescia */
:root {
  --lab-color-blue: #007bff;
  --lab-color-red: #ff5930;
  --lab-color-green: #209b02;
  --lab-color-yellow: #beb722;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    font-size: 1.05rem;
}

/* Testi basati sui colori principali */
.text-lab-blue {
  color: var(--lab-color-blue) !important;
}
.text-lab-red {
  color: var(--lab-color-red) !important;
}
.text-lab-green {
  color: var(--lab-color-green) !important;
}
.text-lab-yellow {
  color: var(--lab-color-yellow) !important;
}

/* Gestione navar fissa e colore del link attivo */
.navbar {
    background-color: #343a40; /* Background navbar */
}
.navbar-nav .nav-item .nav-link {
    color: white !important;
}
.navbar-nav .nav-item.active .nav-link {
    font-weight: bold;
    color: var(--lab-color-blue)!important;
}

/* Override degli input text con attributo readonly con colore di background grigio */
input[readonly] {
    background-color: #d4d1d1;
}
/* Override degli input text generici e checkbox con bordi arrotondati e blu */
input[type="text"],
input[type="datetime-local"],
select
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--lab-color-blue)!important;
  border-radius: 15px!important;
  outline: none;
}
input[type="checkbox"]
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid var(--lab-color-blue)!important;
  border-radius: 3px!important;
  outline: none;
}
input[type="checkbox"]:checked {
  background-color: var(--lab-color-blue);
}
input[type="checkbox"]:checked:after {
  color: white;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

/* Gestione della Homepage con immagine background, testi sovrapposti all'immagine e sezione di altre info */
.full-screen-bg {
    background: url('../img/backgroundLab.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--lab-color-blue);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Ombreggiatura attorno al testo */
}
.main-lab-title {
    font-size: 8rem;
}
.main-lab-sub-title {
    font-size: 5rem;
}
.main-lab-show-more {
    font-size: 3rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
#info, #wDivInfo {
    padding: 50px;
    text-align: center;
}
.main-lab-show-more::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #007bff;
    transform-origin: bottom right;
    animation: underlineAnimation 2s infinite ease-in-out;
}
@keyframes underlineAnimation {
    0% {
        transform: scaleX(0);
        transform-origin: bottom right;
    }
    50% {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    100% {
        transform: scaleX(0);
        transform-origin: bottom left;
    }
}

/* Ogni pagina contiene il main content e il footer, gestiti autonomamente rispetto al contenuto della pagina stessa */
.main-content {
    flex: 1;
    width: 100%;
    position: relative;
}
.footer {
    background-color: #343a40;
    color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

/* Asterisco rosso accanto alla label associata ad un campo di testo obbligatorio */
.with-asterisk::after {
  content: "*";
  color: red;
  margin-left: 2px; /* Spazio tra il testo e l'asterisco */
}

/* Gestione di un blocco di testo con margine laterale colorato e proprietà comuni (ogni colore ha la classe dedicata) */
.block-item {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.block-item-border-blue
{
  border-left: 10px solid var(--lab-color-blue);
}
.block-item-border-red
{
  border-left: 10px solid var(--lab-color-red);
}
.block-item-border-green
{
  border-left: 10px solid var(--lab-color-green);
}
.block-item-border-yellow
{
  border-left: 10px solid var(--lab-color-yellow);
}

/* Linee di separazione con colore specifico. usato in combinazione con il separatore standard <hr /> ma reso generico per qualsiasi utilizzo */
.line-separator-blue {
  border: none;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 0, 255, 0) 0%, var(--lab-color-blue) 50%, rgba(0, 0, 255, 0) 100%);
  margin: 20px 0;
}
.line-separator-red {
  border: none;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 0, 255, 0) 0%, var(--lab-color-red) 50%, rgba(0, 0, 255, 0) 100%);
  margin: 20px 0;
}
.line-separator-green {
  border: none;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 0, 255, 0) 0%, var(--lab-color-green) 50%, rgba(0, 0, 255, 0) 100%);
  margin: 20px 0;
}
.line-separator-yellow {
  border: none;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 0, 255, 0) 0%, var(--lab-color-yellow) 50%, rgba(0, 0, 255, 0) 100%);
  margin: 20px 0;
}