/* Custom CSS for Laboratorio Analisi */
:root {
  --lab-color-blue: #007bff;
  --lab-color-red: #ff5930;
  --lab-color-green: #209b02;
  --lab-color-yellow: #beb722;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

.text-lab-blue {
  color: var(--lab-color-blue) !important;
}

.text-lab-red {
  color: var(--lab-color-red) !important;
}

.text-lab-green {
  color: var(--lab-color-green) !important;
}

.text-lab-yellow {
  color: var(--lab-color-yellow) !important;
}

.navbar {
    background-color: #343a40; /* Background scuro per la navbar */
}

.navbar-nav .nav-item .nav-link {
    color: white !important;
}

.navbar-nav .nav-item.active .nav-link {
    font-weight: bold;
    color: var(--lab-color-blue)!important;
}

.container {
    flex: 1 0 auto; /* Allows the container to grow and fill available space */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Aggiunta di ombra per dare profondità */
    padding: 20px;
}

/* Section headers */
h3 {
    color: var(--lab-color-blue); /* Blu scuro per i titoli delle sezioni */
    margin-bottom: 20px;
}


input[readonly] {
    background-color: #d4d1d1;
}

.full-screen-bg {
    background: url('../../img/background_lab.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #007bff; /* Blu scuro */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Ombreggiatura attorno al testo */
}

.main-lab-title {
    font-size: 8rem;
}

.main-lab-sub-title {
    font-size: 5rem;
}


.main-lab-show-more {
    font-size: 3rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
}


#info, #wDivInfo {
    padding: 50px;
    text-align: center;
}

.main-lab-show-more::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #007bff;
    transform-origin: bottom right;
    animation: underlineAnimation 2s infinite ease-in-out;
}

@keyframes underlineAnimation {
    0% {
        transform: scaleX(0);
        transform-origin: bottom right;
    }
    50% {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    100% {
        transform: scaleX(0);
        transform-origin: bottom left;
    }
}

.main-content {
    flex: 1;
    width: 100%;
    position: relative;
}

.footer {
    background-color: #343a40;
    color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    flex-shrink: 0; /* Prevents the footer from shrinking */
}

.breadcrumb {
  background-color: transparent;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.breadcrumb-item {
  font-size: 1.2em;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.breadcrumb-item.active {
  font-weight: bold;
  color: #007bff;
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "●";
  margin: 0 10px;
  color: #007bff;
  font-weight: bold;
}

@media (max-width: 768px) {
  .breadcrumb-item {
      font-size: 1em;
  }
}


#section-anagrafica, #section-esami, #section-appuntamento {
  display: none;
}

#section-anagrafica.active, #section-esami.active, #section-appuntamento.active {
  display: block;
}

.block-item {
  margin-left: 10px;
  padding-left: 15px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.block-item-border-blue
{
  border-left: 10px solid var(--lab-color-blue);
}

.block-item-border-red
{
  border-left: 10px solid var(--lab-color-red);
}

.block-item-border-green
{
  border-left: 10px solid var(--lab-color-green);
}

.block-item-border-yellow
{
  border-left: 10px solid var(--lab-color-yellow);
}

.line-separator-blue {
  border: none;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 0, 255, 0) 0%, var(--lab-color-blue) 50%, rgba(0, 0, 255, 0) 100%);
  margin: 20px 0;
}

.line-separator-red {
  border: none;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 0, 255, 0) 0%, var(--lab-color-red) 50%, rgba(0, 0, 255, 0) 100%);
  margin: 20px 0;
}

.line-separator-green {
  border: none;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 0, 255, 0) 0%, var(--lab-color-green) 50%, rgba(0, 0, 255, 0) 100%);
  margin: 20px 0;
}

.line-separator-yellow {
  border: none;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 0, 255, 0) 0%, var(--lab-color-yellow) 50%, rgba(0, 0, 255, 0) 100%);
  margin: 20px 0;
}